<div class="hero-container">

  <div class="image">

    <div class="flex-container lettuce-wrap">

      <h1 class="hero-text">
              Don't expect justice for youself until you are
              prepared to demand & defend justice for others.
            </h1>

      <div class="btn-wrap">

        <div class="flex-grid-thirds">

          <div class="col">
            <a href="/login" class="btn btn-primary btn-white"> Log In </a>
          </div>

          <div class="col">
            <a href="/signup" class="btn btn-primary btn-filled"> Sign Up </a>
          </div>

        </div>
        <!-- flex-grid-thirds -->
      </div>
      <!-- btn-wrap -->
    </div>
    <!-- lettuce-wrap -->
  </div>
  <!-- image -->

</div>
<!-- hero-conatiner -->

<h2 class="about" id="discover"> What is counterACT? </h2>

<div class="flex-container rows-wrap">

  <div class="flex-container row1 ">

    <div class="flex-container card-container">
      <img src="../images/scalesicon.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> About </span>
          <p class="about-p">
            When standing before a judge to address an issue, a well-crafted argument is key. However, judges are human, and a well-crafted argument may be impeded if the judge is unhappy with you or your client. CounterACT attempts to alleviate this issue by providing
            a platform to share information regarding what the rules, procedures, and the "do's and don'ts" of a particular courtroom.
          </p>
        </div>
        <!-- Card Content -->
      </div>
      <!-- Content Wrapper -->
    </div>
    <!-- Card Container -->

    <div class="flex-container card-container">
      <img src="../images/by_the_book.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> Personalized Index </span>
          <p class="about-p">
            Use CounterACT to create a personal index of judges that you've stood before to document your experience before the judge and how they conduct their courtroom.
          </p>
        </div>
        <!-- Card Content -->
      </div>
      <!-- Content Wrapper -->
    </div>
    <!-- Card Container -->
  </div>
  <!-- row1 flex-container -->

  <div class="flex-container row2 ">

    <div class="flex-container card-container">
      <img src="../images/speech.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> Discuss </span>
          <p class="about-p">
            Discuss your experiences with other users. Give yourself, and others, data-driven insight into each judge by sharing your personal index and discussing them. These discussions help ensure that our users have a prior understanding as to how that particular
            judge runs his courtroom.
          </p>
        </div>
        <!-- Card Content -->
      </div>
      <!-- Content Wrapper -->
    </div>
    <!-- Card Container -->

    <div class="flex-container card-container">
      <img src="../images/by_the_book.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> Documents </span>
          <p class="about-p">
            For some, navigating through the legal system can be an overwhelming experience, especially if you're not an attorney. CounterACT lets you create a personal database for copies of documents regularly used throughout the course of a case. Have questions?
            Share it in the discussion section!
          </p>
        </div>
        <!-- Card Content -->
      </div>
      <!-- Content Wrapper -->
    </div>
    <!-- Card Container -->
  </div>
  <!-- row2 flex-container -->

</div>
<!-- flex-container -->
