<div class="hero-container">

  <div class="image">

    <div class="lettuce-wrap">

      <div class="intro-wrap">

        <h1>
          Don't expect justice for youself until you are
          prepared to demand & defend justice for others.
        </h1>

      </div> <!-- intro-msg -->

      <div class="btn-wrap">

        <div class="flex-grid-thirds">

          <div class="col">
            <a href="/login" class="btn btn-primary btn-white"> Log In </a>
          </div>

          <div class="col">
            <a href="/signup" class="btn btn-primary btn-filled"> Sign Up </a>
          </div>

        </div> <!-- flex-grid-thirds -->
      </div> <!-- btn-wrap -->
    </div> <!-- lettuce-wrap -->
  </div> <!-- image -->
</div> <!-- hero-conatiner -->
