<div class="hero-container">

  <div class="image">

      <div class="flex-container lettuce-wrap">

          <h1 class="hero-text">
            Don't expect justice for youself until you are
            prepared to demand & defend justice for others.
          </h1>

        <div class="btn-wrap">

          <div class="flex-grid-thirds">

            <div class="col">
              <a href="/login" class="btn btn-primary btn-white"> Log In </a>
            </div>

            <div class="col">
              <a href="/signup" class="btn btn-primary btn-filled"> Sign Up </a>
            </div>

          </div> <!-- flex-grid-thirds -->
        </div> <!-- btn-wrap -->
      </div> <!-- lettuce-wrap -->
  </div> <!-- image -->

  <a href="#discover" class="down">
    <i></i>
  </a>

</div> <!-- hero-conatiner -->


    <h2 class="about" id="discover"> What is counterACT? </h2>
<div class="flex-container rows-wrap">

  <div class="flex-container row1 ">

					<div class="card-container">
						<h3 class="card-name">ABOUT US</h3>
						<div class="flex-container content-wrapper">
						 <div class="card-content">
               <p class="about-p">
                 Shady Judges? Unfair Rulings? Vailed Racism? <br />
                 Chat with your community. No hierarchy.
               </p>
						</div><!-- Card Content -->

						</div><!-- Content Wrapper -->
					</div><!-- Card Container -->


					<div class="card-container">
						<h3 class="card-name">WHAT YOU GET</h3>
						<div class="flex-container content-wrapper">

              <div class="card-content-left">
                <div class="scales">
                   <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
              </div><!-- Card Content Left -->

              <div class="card-content">

							</div><!-- Card Content -->

					  </div><!-- Content Wrapper -->
					</div><!-- Card Container -->
	</div> <!-- row1 flex-container -->

  <div class="flex-container row2 ">

			 	<div class="card-container">
					<h3 class="card-name">CONTENT</h3>
					<div class="flex-container content-wrapper">

            <div class="card-content-left">
              <div class="scales">
                 <i class="fa fa-balance-scale" aria-hidden="true"></i>
              </div>
            </div><!-- Card Content Left -->

						<div class="card-content">

						</div><!-- Card Content -->

				    </div><!-- Content Wrapper -->
				  </div><!-- Card Container -->


				<div class="card-container">
					<h3 class="card-name">THANK YOU</h3>
					<div class="flex-container content-wrapper">

						<div class="card-content">
              <p class="about-p">
                Attorney? Judge? Citizen? <br />
                Mingle anonymously and keep the Courts honest.
              </p>
						</div><!-- Card Content -->

				    </div><!-- Content Wrapper -->
				  </div><!-- Card Container  -->
	</div> <!-- row2 flex-container -->

</div> <!-- flex-container -->
