<div class="hero-container">

  <div class="image">

      <div class="flex-container lettuce-wrap">

          <h1 class="hero-text">
            Don't expect justice for youself until you are
            prepared to demand & defend justice for others.
          </h1>

        <div class="btn-wrap">

          <div class="flex-grid-thirds">

            <div class="col">
              <a href="/login" class="btn btn-primary btn-white"> Log In </a>
            </div>

            <div class="col">
              <a href="/signup" class="btn btn-primary btn-filled"> Sign Up </a>
            </div>

          </div> <!-- flex-grid-thirds -->
        </div> <!-- btn-wrap -->
      </div> <!-- lettuce-wrap -->
  </div> <!-- image -->

  <a href="#discover" class="down">
    <i></i>
  </a>

</div> <!-- hero-conatiner -->


    <h2 class="about" id="discover"> What is counterACT? </h2>
    <p class="about">
      counterACT is an application that provides the public, as well as other attorneys, a platform to discuss potential abuses of power with regards to how a particular judge conducted himself prior to passing a ruling.
    </p>
<div class="flex-container rows-wrap">

  <div class="flex-container row1 ">

					<div class="flex-container card-container">
						<img src="../images/scalesicon.png" class="card-name" />
						<div class="flex-container content-wrapper">
						 <div class="card-content">
              <span class="about-p"> About </span>
               <p class="about-p">
                counterACT is an application that provides the public, as well as other attorneys, a platform to discuss potential abuses of power with regards to how a particular judge conducted himself prior to passing a ruling.
               </p>
             </div><!-- Card Content -->
          </div><!-- Content Wrapper -->
        </div><!-- Card Container -->

          <div class="flex-container card-container">
            <img src="../images/by_the_book.png" class="card-name" />
            <div class="flex-container content-wrapper">
              <div class="card-content">
                <span class="about-p"> Personalized Index </span>
                <p class="about-p">
                  Create a personal index of judges. <br />
                  Share and discuss information from your index with other users.
                </p>
              </div><!-- Card Content -->
      		  </div><!-- Content Wrapper -->
      	  </div><!-- Card Container -->
	      </div> <!-- row1 flex-container -->

  <div class="flex-container row2 ">

    <div class="flex-container card-container">
      <img src="../images/speech.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> Discuss </span>
          <p class="about-p">
            Attorney? Judge? Citizen? <br />
            Mingle anonymously and keep the Courts honest.
          </p>
        </div><!-- Card Content -->
		  </div><!-- Content Wrapper -->
	  </div><!-- Card Container -->


    <div class="flex-container card-container">
      <img src="../images/by_the_book.png" class="card-name" />
      <div class="flex-container content-wrapper">
        <div class="card-content">
          <span class="about-p"> Documents </span>
          <p class="about-p">
            Need access to legal forms? <br />
            Need help properly filling out those forms? <br />
            Visit our Documents section for more info!
          </p>
        </div><!-- Card Content -->
		  </div><!-- Content Wrapper -->
	  </div><!-- Card Container -->
	</div> <!-- row2 flex-container -->

</div> <!-- flex-container -->
