<div class="hero-container">

  <div class="image">

    <div class="adjust-1">

      <div class="lettuce-wrap">

        <div class="intro-wrap">

          <h1>
            Don't expect justice for youself until you are
            prepared to demand & defend justice for others.
          </h1>

        </div> <!-- intro-msg -->

        <div class="btn-wrap">

          <div class="flex-grid-thirds">

            <div class="col">
              <a href="/login" class="btn btn-primary btn-white"> Log In </a>
            </div>

            <div class="col">
              <a href="/signup" class="btn btn-primary btn-filled"> Sign Up </a>
            </div>

          </div> <!-- flex-grid-thirds -->
        </div> <!-- btn-wrap -->
      </div> <!-- lettuce-wrap -->
    </div>  <!-- adjust-1 -->
  </div> <!-- image -->

  <a href="#discover" class="down">
    <i></i>
  </a>

</div> <!-- hero-conatiner -->


<div class="flex-container rows-wrap" id="discover">

  <div class="flex-container row1 ">

					<div class="card-container">
						<h3 class="card-name">James Braidwood</h3>
						<div class="flex-container content-wrapper">

							<div class="card-content">

							</div><!-- Card Content -->

						</div><!-- Content Wrapper -->
					</div><!-- Card Container -->


					<div class="card-container">
						<h3 class="card-name">Michael Abrashoff</h3>
						<div class="flex-container content-wrapper">

              <div class="card-content">

							</div><!-- Card Content -->

					  </div><!-- Content Wrapper -->
					</div><!-- Card Container -->
	</div> <!-- row1 flex-container -->

  <div class="flex-container row2 ">

			 	<div class="card-container">
					<h3 class="card-name">John Coleman</h3>
					<div class="flex-container content-wrapper">

						<div class="card-content">

						</div><!-- Card Content -->

				    </div><!-- Content Wrapper -->
				  </div><!-- Card Container -->


				<div class="card-container">
					<h3 class="card-name">Thomas Dunne</h3>
					<div class="flex-container content-wrapper">

						<div class="card-content">

						</div><!-- Card Content -->

				    </div><!-- Content Wrapper -->
				  </div><!-- Card Container  -->
	</div> <!-- row2 flex-container -->

</div> <!-- flex-container -->
