<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <script src="https://use.fontawesome.com/7ad418d947.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="flex-container container-nav">

        <% if (currentUser) { %>

          <a href="/" class="counterAct1"> counterACT </a>

          <ul class="flex-container nav-wrap">
            <li class="nav-item"> <a href="/profile">    Profile    </a> </li>
            <li class="nav-item"> <a href="/judges">     Judges     </a> </li>
            <li class="nav-item"> <a href="/documents">  Documents  </a> </li>
            <li class="nav-item"> <a href="/logout">     Log Out    </a> </li>
          </ul>

          <% } %>
      </div>
      <!-- container-nav -->
    </nav>
  </header>

  <%- body -%>
    <footer>
      <div class="border-bottom">
        <div class="btm-top flex-container">
          <a href="/" class="counterAct"> counterACT </a>
          <div class="flex-container search-wrap">
            <section id="search">
              <label for="search-input">
              <i class="fa fa-search" aria-hidden="true">
              </i>
              <span class="sr-only"> Search </span>
            </label>
              <input id="search-input" class="form-control input-lg" placeholder=" Search " autocomplete="off" tabindex="1" />
            </section>
          </div>
          <!-- search-wrap -->
        </div>
        <!-- btm-top -->
      </div>
      <!-- border-bottom -->

      <div class="border-bottom">
        <div class="btm-btm flex-container">
          <q>
          You have to start somewhere, you have to start somehow. <br />
          What better place than here, what better time than now?
        </q>
        </div>
        <!-- btm-btm -->

        <div class="madeBy flex-container">
          <small> Made by Ariel Fonticiella </small>
        </div>
    </footer>
</body>

</html>
