<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="https://use.fontawesome.com/7ad418d947.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <header>
    <nav>
      <div class="flex-container container-nav">

          <% if (currentUser) { %>

            <a href="/" class="counterAct"> counterACT </a>

              <ul class="flex-container nav-wrap">
                <li class="nav-item"> <a href="/profile">    Profile    </a> </li>
                <li class="nav-item"> <a href="/judges">     Judges     </a> </li>
                <li class="nav-item"> <a href="/documents">  Documents  </a> </li>
                <li class="nav-item"> <a href="/logout">     Log Out    </a> </li>
              </ul>

          <% } %>
      </div> <!-- container-nav -->
    </nav>
  </header>

    <%- body %>

  <footer>
    <div class="border-bottom">
      <div class="btm-top flex-container">
        <a href="/" class="counterAct"> counterACT </a>
        <div class="flex-container search-wrap">
          <form method="get" action="/search">
               <div class="input-wrapper">
                 <input id="search-term-input" aria-invalid="false" name="userSearch" pattern="^[a-zA-Z0-9_]{1,15}$" type="text" class="form__field__input"></div>
            </label>

            <%# <label for="search-term-input"></label></label>
            <input id="search-term-input" type="search" name="userSearch"
                  placeholder="e.g. Jeske" />%>
          </form>
        </div> <!-- search-wrap -->
      </div> <!-- btm-top -->
    </div> <!-- border-bottom -->

    <div class="madeBy flex-container">
      <small> Made by Ariel Fonticiella </small>
    </div>

  </footer>

  </body>
</html>
