<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/discover.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <header>
    <nav>
        <div class="flex-container-nav">
          <% if (currentUser) { %>
            <ul>
              <li> <a href="/"> Home </a> </li>
              <li> <a href="/profile"> Profile </a> </li>
              <li> <a href="/judges"> Judges </a> </li>
              <li> <a href="/forum"> Forum </a> </li>
              <li> <a href="/documents"> Documents </a> </li>
              <li> <a href="/logout"> Log Out </a> </li>

              <form method="get" action="/search">
                <button> Search </button>
                <label for="search-term-input"></label></label>
                <input id="search-term-input" type="search" name="userSearch"
                      placeholder="e.g. Jeske" />
              </form>

            </ul>
          <% } %>

        </div> <!-- flex-container -->
    </nav>

  </header>

    <%- body %>

  <footer>
    Made by Ariel Fonticiella
  </footer>

  </body>
</html>
