<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="https://use.fontawesome.com/7ad418d947.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <header>
    <nav>
        <div class="flex-container-nav">
          <% if (currentUser) { %>
            <ul>
              <li> <a href="/profile"> Profile </a> </li>
              <li> <a href="/judges"> Judges </a> </li>
              <li> <a href="/forum"> Forum </a> </li>
              <li> <a href="/documents"> Documents </a> </li>
              <li> <a href="/logout"> Log Out </a> </li>

              <form method="get" action="/search">
                <button> Search </button>
                <label for="search-term-input"></label></label>
                <input id="search-term-input" type="search" name="userSearch"
                      placeholder="e.g. Jeske" />
              </form>

            </ul>
          <% } %>

        </div> <!-- flex-container -->
    </nav>

  </header>

    <%- body %>

  <footer>
    <div class=btm-wrap>
      <div class="btm-top flex-container">
        <strong class="h_counterAct">
          <p class="counterAct">counterACT</p>
        </strong>
      </div>

      <div class="btm-btm flex-container">
        <div class="btm-list-left">
          <ul>
            <li> About </li>
            <li> FAQs </li>
            <li> Blog </li>
          </ul>
        </div>

        <div class="btm-list-right">
          <ul>
            <li> Privacy </li>
            <li> Careers </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="madeBy flex-container">
        <small> Made by Ariel Fonticiella </small>
      </div>

  </footer>

  </body>
</html>
