form input[type=text], form textarea {
    color: #333;
}

.form__field__input, input[type=text] {
    background: #fff;
    border: 1px solid #bbb;
    transition: all .3s ease-in-out;
    background-position: right 1.35em center;
    background-size: .25em .25em;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    padding: .75em 2em .85em 1em;
    width: 100%;
    outline: 0;
}

.form__field__input:active, input[type=text]:active {
  box-shadow: 0 4px 15px #bebebe;
  border-color: #dadada;
  outline: 0!important;
}

.form__field .input-wrapper {
  position: relative;
}

#search {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -20px auto 0;
}

#search label {
  position: absolute;
  left: 17px;
  top: 51px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
  font-family: FontAwesome;
  content: "\f002";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#search #search-input {
  padding-left: 43px;
  padding-right: 250px;
  border-radius: 23px;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.form-control {
    display: block;
    width: 100%;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
